*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  cursor:default;
}

body{
  height: 165vh;
  background: rgb(30,18,46);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  width: 480px;
  text-align: center;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px #1B1834;
  
}
